# IST769 Final Exam

**INSTRUCTIONS FOR HIGHEST GRADE POSSIBLE**

Unless you are explicitly instructed otherwise, answer each of the following using PySpark / Spark SQL. For any queries you write make sure to include a `printSchema()` and sample(s) of the output which clearly demonstrates the code is correct.

In [1]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [2]:
!pip install -q cassandra-driver

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
# YOUR NAME ========>Soham Pendse
# YOUR SU EMAIL ====> spendse@syr.edu

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [5]:
#1 Spark session
minio_user = "minio"
minio_password = "SU2orange!"
minio_endpoint = "http://minio:9000"
mongo_uri = f"mongodb://admin:mongopw@mongo:27017/ischooldb?authSource=admin"
cassandra_host = "cassandra"
elastic_host = "elasticsearch"
elastic_port = "9200"
bolt_url = "bolt://neo4j:7687"

jars = [
    "com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.1.0",
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint",minio_endpoint) \
        .config("spark.hadoop.fs.s3a.access.key",minio_user) \
        .config("spark.hadoop.fs.s3a.secret.key", minio_password) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
        .config("spark.cassandra.connection.host", cassandra_host) \
        .config("spark.es.nodes", elastic_host) \
        .config("spark.es.port",elastic_port) \
        .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
com.datastax.spark#spark-cassandra-connector-assembly_2.12 added as a dependency
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
org.elasticsearch#elasticsearch-spark-20_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-df840673-7e5a-46b5-b4c6-faf2c7996e1a;1.0
	confs: [default]
	found com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 in central
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 in central
	found org.scala-lang#scala-reflect;2.12.8 in central
	found org.slf4j#slf4j-api;1.7.6 in central
	found commons-logging#commons-logging;1.1.1 in central
	found javax.xml.bind#jaxb-api;2.3.1 in central
	found com.google.protobuf#protobuf-java;2.5.0 in central
	found org.apache.spark#spark-yarn_2.12;2.4.4 in central
downloading https://repo1.maven.org/maven2/com/datastax/spark/spark-cassandra-connector-assembly_2.12/3.1.0/spark-cassandra-connector-assembly_2.12-3.1.0.jar ...
	[SUCCESSFUL ] com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0!spark-cassandra-connector-assembly_2.12.jar (7438ms)
downloading https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.1.2/hadoop-aws-3.1.2.jar ...
	[SUCCESSFUL ] org.apache.hadoop#hadoop-aws;3.1.2!hadoop-aws.jar (197ms)
downloading https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/3.0.1/mongo-spark-connector_2.12-3.0.1.jar ...
	[SUCCESSFUL ] org.mongodb.spark#mongo-spark-connector_2.12;3.0.1!mongo-spark-connector_2.12.jar (351ms)
downloading https://repo1.maven.org/maven2/org/elasticsearch/elasticsearch-spark-20_2.12/7.15.0/elasticsearch-spark-20_2.12-7.15.0.jar ...
	[SUCCESSFUL ] org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0!elasticsearch-spark-20_2.12.jar (649ms)
downloading https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.11.271/aws-java-sdk-bundle-1.11.271.jar ...
	[SUCCESSFUL ] com.amazonaws#aws-java-sdk-bundle;1.11.271!aws-java-sdk-bundle.jar (27815ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-sync/4.0.5/mongodb-driver-sync-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-sync;4.0.5!mongodb-driver-sync.jar (77ms)
downloading https://repo1.maven.org/maven2/org/mongodb/bson/4.0.5/bson-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#bson;4.0.5!bson.jar (149ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-core/4.0.5/mongodb-driver-core-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-core;4.0.5!mongodb-driver-core.jar (395ms)
:: resolution report :: resolve 12681ms :: artifacts dl 37133ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 from central in [default]
	com.google.protobuf#protobuf-java;2.5.0 from central in [default]
	commons-logging#commons-logging;1.1.1 from central in [default]
	javax.xml.bind#jaxb-api;2.3.1 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.apache.spark#spark-yarn_2.12;2.4.4 from central in [default]
	org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	org.scala-lang#scala-reflect;2.12.8 from central in [default]
	org.slf4j#slf4j-api;1.7.6 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   14  |   14  |   14  |   0   ||   8   |   8   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-df840673-7e5a-46b5-b4c6-faf2c7996e1a
	confs: [default]
	8 artifacts copied, 0 already retrieved (103971kB/13330ms)
23/05/01 16:31:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/01 16:32:29 ERROR Inbox: Ignoring error
java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
23/05/01 16:32:29 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:103)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:87)
	at org.apache.spark.storage.BlockManagerMaster.registerBlockManager(BlockManagerMaster.scala:78)
	at org.apache.spark.storage.BlockManager.reregister(BlockManager.scala:589)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1000)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:212)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1996)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	... 3 more
23/05/01 16:32:34 ERROR Inbox: Ignoring error
java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
23/05/01 16:32:34 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:103)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:87)
	at org.apache.spark.storage.BlockManagerMaster.registerBlockManager(BlockManagerMaster.scala:78)
	at org.apache.spark.storage.BlockManager.reregister(BlockManager.scala:589)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1000)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:212)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1996)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	... 3 more

### Question 2

Demonstrate you can read the process-oriented data `enrollments` and `sections` from `minio` using PySpark.

In [6]:
#2a enrollments
enrollments = spark.read.option("inferSchema","true")\
                .option("header","true")\
                .option("ignoreLeadingWhiteSpace", "true")\
                .csv("s3a://enrollments/enrollments.csv")

In [7]:
enrollments.show(3)

+----+-----------------+------+-------+-----------+-----+------------+
|term|course_enrollment|course|section| student_id|grade|grade_points|
+----+-----------------+------+-------+-----------+-----+------------+
|1221|                1|IST659|   M001|orenjouglad|    C|         2.0|
|1221|                2|IST659|   M001|billmelator|    A|         4.0|
|1221|                3|IST659|   M001| morrisless|    A|         4.0|
+----+-----------------+------+-------+-----------+-----+------------+
only showing top 3 rows

In [8]:
#2b sections 
sections = spark.read.option("inferSchema","true")\
                .option("header","true")\
                .option("ignoreLeadingWhiteSpace", "true")\
                .csv("s3a://enrollments/sections.csv")

In [9]:
sections.show(5)

+----+------+-------+----------+--------+
|term|course|section|enrollment|capacity|
+----+------+-------+----------+--------+
|1221|IST659|   M001|        20|      20|
|1221|IST659|   M002|        20|      20|
|1221|IST722|   M001|        25|      28|
|1221|IST615|   M001|        22|      28|
|1221|IST621|   M001|        22|      24|
+----+------+-------+----------+--------+
only showing top 5 rows

### Question 3

Demonstrate you can read the reference-oriented data `terms`, `students`, `courses`, and `program` reference data from `MongoDb` using PySpark.

In [10]:
#3a terms 
terms = spark.read.format("mongo")\
    .option("database","ischooldb")\
    .option("collection","terms").load()

In [11]:
terms.show(3)

+----+-------------+----+-----------+--------+----+
| _id|academic_year|code|       name|semester|year|
+----+-------------+----+-----------+--------+----+
|1221|    2021-2022|1221|  Fall 2021|    Fall|2021|
|1222|    2021-2022|1222|Spring 2022|  Spring|2022|
|1231|    2022-2023|1231|  Fall 2022|    Fall|2022|
+----+-------------+----+-----------+--------+----+
only showing top 3 rows

In [12]:
#3b courses
courses = spark.read.format("mongo")\
    .option("database","ischooldb")\
    .option("collection","courses").load()

NameError: name 'q10' is not defined

In [14]:
#3c Programs
programs = spark.read.format("mongo")\
    .option("database","ischooldb")\
    .option("collection","programs").load()

In [15]:
programs.show(3)

+---+----+-------+--------------------+--------------------+--------------------+-----------+
|_id|code|credits|    elective_courses|                name|    required_courses|       type|
+---+----+-------+--------------------+--------------------+--------------------+-----------+
| IS|  IS|     36|[IST722, IST714, ...| Information Systems|[IST659, IST615, ...|    Masters|
| DS|  DS|     34|    [IST769, IST714]|        Data Science|[IST659, IST615, ...|    Masters|
|BDC| BDC|      9|                null|Data Engineering ...|[IST659, IST722, ...|Certificate|
+---+----+-------+--------------------+--------------------+--------------------+-----------+
only showing top 3 rows

In [19]:
#3d students
students = spark.read.format("mongo")\
    .option("database","ischooldb")\
    .option("collection","students").load()

In [20]:
students.show(3)

+----------+-----------+-------+
|       _id|       name|program|
+----------+-----------+-------+
|  abbykuss|  Abby Kuss|     DS|
|adamantium|Adam Antium|     IS|
| addieowse| Addie Owse|     IS|
+----------+-----------+-------+
only showing top 3 rows

### Question 4

Prepare the `section` data for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. Just PREPARE it do not LOAD it. Remember that we want this data to be as wide as possible, so include all relevant reference data. For example, the `section` data should include `term` attributes like `year`,  `academic year`, etc... and from `course`, attributes like `credits`, `name`, `prerequisites`, etc...

In [22]:
#4 wide_sections
section_load = sections.join(terms, sections.term == terms._id, "left").select(sections.term,sections.course,sections.section,sections.enrollment,sections.capacity,
                                                                        terms.academic_year,terms.name,terms.semester,terms.year)\
                                                                        .withColumnRenamed("name","term_name")\
                .join(courses, sections.course == courses.code).drop("_id","code").withColumnRenamed("name","course_name")

In [21]:
section_load.show(3)

+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+----------------+----------------+-------------+--------------------+
|term|course|section|enrollment|capacity|academic_year|  term_name|semester|year|credits|         description|elective_in_programs| key_assignments|     course_name|prerequisites|required_in_programs|
+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+----------------+----------------+-------------+--------------------+
|1232|IST615|   M001|        21|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
|1232|IST615|   M002|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
|1222|IST615|   M001|        19|      24|    2021-2022|Spring 2022|  Spring|2022|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+----------------+----------------+-------------+--------------------+
only showing top 3 rows

In [23]:
section_load.printSchema()

root
 |-- term: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- course_name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

### Question 5

Use the `cassandra-driver` example from class to write python code to connect to cassandra from within Jupyter and create a keyspace named `ischooldb`. Design a cassandra table called `sections` to store the data from question 4. Appropriate key design is important! Please explain your justification for key below your table definition. Provide clear evidence that your table was created by querying the empty table in spark and use `printSchema()` to show the schema.

In [24]:
#5 create cassandra table for wide_sections
from cassandra.cluster import Cluster
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication={ 'class': 'SimpleStrategy', 'replication_factor' : 1 };")
    table = '''
    CREATE TABLE IF NOT EXISTS ischooldb.sections (
        term text,
        course text,
        section text,
        enrollment int,
        capacity int,
        academic_year text,
        term_name text,
        semester text,
        year text,
        credits int,
        description text, 
        elective_in_programs list<text> ,
        key_assignments list<text>,
        course_name text,
        prerequisites list<text>,
        required_in_programs list<text>,
    primary key ((term, course,section), year) 
    );
    '''
    session.execute(table)

In [25]:
q4_emptytable =spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table="sections", keyspace="ischooldb") \
    .load()

In [26]:
q4_emptytable.printSchema()

root
 |-- term: string (nullable = false)
 |-- course: string (nullable = false)
 |-- section: string (nullable = false)
 |-- year: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- enrollment: integer (nullable = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- semester: string (nullable = true)
 |-- term_name: string (nullable = true)

In [27]:
q4_emptytable.show(5)

+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+
|term|course|section|year|academic_year|capacity|         course_name|credits|         description|elective_in_programs|enrollment| key_assignments|prerequisites|required_in_programs|semester|  term_name|
+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+
|1232|IST615|   M001|2023|    2022-2023|      28|    Cloud Management|      3|Cloud services cr...|                  []|        21|[project, paper]|           []|            [IS, DS]|  Spring|Spring 2023|
|1222|IST687|   M001|2022|    2021-2022|      20|Introduction to D...|      3|Introduces inform...|                [IS]|        18| [project, exam]|           []|                [DS]|  Spring|Spring 2022|
|1232|IST769|   M001|2023|    2022-2023|      24|Advanced Big Data...|      3|Analyze relationa...|                [DS]|        20| [project, exam]|     [IST659]|                  []|  Spring|Spring 2023|
|1222|IST659|   M001|2022|    2021-2022|      24|Data Administrati...|      3|Definition, devel...|                  []|        24|       [project]|           []|            [IS, DS]|  Spring|Spring 2022|
|1222|IST714|   M001|2022|    2021-2022|      20|  Cloud Architecture|      3|Advanced, lab-bas...|            [IS, DS]|        17|       [project]|     [IST615]|                  []|  Spring|Spring 2022|
+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+
only showing top 5 rows

### Question 6

Load the data frame you created in question 4 into the `cassandra` table you created in question 5. Demonstrate the data is in the table by querying back it with PySpark. Make sure you can run the code multiple times and each time it replaces the existing data.

In [28]:
#6 load wide_sections into cassandra
section_load.write.format("org.apache.spark.sql.cassandra")\
  .mode("Append")\
  .option("table", "sections")\
  .option("keyspace","ischooldb")\
  .save()

In [29]:
section_cassandra = spark.read.format("org.apache.spark.sql.cassandra")\
                    .options(table="sections", keyspace="ischooldb") \
                    .load()

In [30]:
section_cassandra.show(10)

+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+
|term|course|section|year|academic_year|capacity|         course_name|credits|         description|elective_in_programs|enrollment| key_assignments|prerequisites|required_in_programs|semester|  term_name|
+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+
|1222|IST615|   M001|2022|    2021-2022|      24|    Cloud Management|      3|Cloud services cr...|                  []|        19|[project, paper]|           []|            [IS, DS]|  Spring|Spring 2022|
|1231|IST615|   M001|2022|    2022-2023|      24|    Cloud Management|      3|Cloud services cr...|                  []|        21|[project, paper]|           []|            [IS, DS]|    Fall|  Fall 2022|
|1222|IST687|   M002|2022|    2021-2022|      20|Introduction to D...|      3|Introduces inform...|                [IS]|        20| [project, exam]|           []|                [DS]|  Spring|Spring 2022|
|1221|IST687|   M001|2021|    2021-2022|      20|Introduction to D...|      3|Introduces inform...|                [IS]|        20| [project, exam]|           []|                [DS]|    Fall|  Fall 2021|
|1232|IST615|   M002|2023|    2022-2023|      24|    Cloud Management|      3|Cloud services cr...|                  []|        20|[project, paper]|           []|            [IS, DS]|  Spring|Spring 2023|
|1232|IST621|   M002|2023|    2022-2023|      24|Information Manag...|      3|Information and t...|                  []|        21|         [paper]|           []|                [IS]|  Spring|Spring 2023|
|1231|IST687|   M001|2022|    2022-2023|      20|Introduction to D...|      3|Introduces inform...|                [IS]|        17| [project, exam]|           []|                [DS]|    Fall|  Fall 2022|
|1221|IST621|   M001|2021|    2021-2022|      24|Information Manag...|      3|Information and t...|                  []|        22|         [paper]|           []|                [IS]|    Fall|  Fall 2021|
|1231|IST707|   M001|2022|    2022-2023|      24|Applied Machine L...|      3|General overview ...|                [IS]|        24|          [exam]|     [IST687]|                [DS]|    Fall|  Fall 2022|
|1231|IST659|   M001|2022|    2022-2023|      20|Data Administrati...|      3|Definition, devel...|                  []|        20|       [project]|           []|            [IS, DS]|    Fall|  Fall 2022|
+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+
only showing top 10 rows

### Question 7

Since we did not learn how to create a custom elasticsearch mapping, before you can load the data into `elasticsearch` you will need to flatten the nested data. For example, `course_is_elective_in_programs` should generate 2 columns `course_is_elective_for_IS` and `course_is_elective_for_DS`. You'll need to repeat this step for `course_is_required_in_programs`. Omit the `course_prerequisites` and `course_key_assignments` column.

In [31]:
#7 flatten `course_is_elective_in_programs` and `course_is_required_in_programs` 
from pyspark.sql.functions import explode_outer, col, when, flatten
course_is_elective_in_programs = section_cassandra.select("term","course","section","year","required_in_programs",explode_outer(section_cassandra.elective_in_programs))\
                                    .withColumnRenamed("col","elective_in_course").drop("null")
course_is_required_in_programs = section_cassandra.select("term","course","section","year",explode_outer(section_cassandra.required_in_programs))\
                                    .withColumnRenamed("col","required_programs").drop("null")

In [32]:
course_is_elective_in_programs = course_is_elective_in_programs.groupBy("term","course","section","year").pivot("elective_in_course").count()\
                                .withColumnRenamed("DS","elective_ds").withColumnRenamed("IS","elective_is").na.fill(value = 0, subset = ["elective_ds","elective_is"]).drop("null")
course_is_required_in_programs = course_is_required_in_programs.groupBy("term","course","section","year").pivot("required_programs").count()\
                                .withColumnRenamed("DS","required_ds").withColumnRenamed("IS","required_is")\
                                .withColumnRenamed("term","required_term").withColumnRenamed("course","required_course").withColumnRenamed("section","required_section")\
                                .withColumnRenamed("year","required_year").na.fill(value = 0, subset = ["required_ds","required_is"]).drop("null")

In [33]:
q7 = course_is_elective_in_programs.join(course_is_required_in_programs,(course_is_elective_in_programs.term == course_is_required_in_programs.required_term ) &
                                    (course_is_elective_in_programs.course == course_is_required_in_programs.required_course ) &
                                    (course_is_elective_in_programs.section == course_is_required_in_programs.required_section ),"inner").drop("term","course","section","year")

In [34]:
q7_load = q7.join(section_cassandra, (section_cassandra.term == q7.required_term) & (section_cassandra.course == q7.required_course) & (section_cassandra.section == q7.required_section))\
    .drop("elective_in_programs","required_in_programs","key_assignments","prerequisites", "required_year", "required_term","required_section", "required_course")

In [35]:
q7_load.show(3)

+-----------+-----------+-----------+-----------+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+----------+--------+-----------+
|elective_ds|elective_is|required_ds|required_is|term|course|section|year|academic_year|capacity|         course_name|credits|         description|enrollment|semester|  term_name|
+-----------+-----------+-----------+-----------+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+----------+--------+-----------+
|          0|          1|          0|          0|1231|IST722|   M001|2022|    2022-2023|      28|    Data Warehousing|      3|Introduction to c...|        23|    Fall|  Fall 2022|
|          0|          0|          0|          1|1222|IST621|   M001|2022|    2021-2022|      28|Information Manag...|      3|Information and t...|        28|  Spring|Spring 2022|
|          0|          1|          1|          0|1231|IST707|   M001|2022|    2022-2023|      24|Applied Machine L...|      3|General overview ...|        24|    Fall|  Fall 2022|
+-----------+-----------+-----------+-----------+----+------+-------+----+-------------+--------+--------------------+-------+--------------------+----------+--------+-----------+
only showing top 3 rows

### Question 8

Load the data frame you created in question 7 into `elasticsearch`, under the index `sections`.  Demonstrate the data is in the index by querying back it with PySpark.

In [36]:
#8 load wide_sections_flattened into elasticsearch
q7_load.write.mode("Overwrite").format("es").save("sections")

In [37]:
q8 = spark.read.format("es").load("sections").withColumnRenamed("term","offered_term").withColumnRenamed("section","offered_section")
q8.show(5)

+-------------+--------+------+--------------------+-------+--------------------+-----------+-----------+----------+-----------+-----------+---------------+--------+------------+-----------+----+
|academic_year|capacity|course|         course_name|credits|         description|elective_ds|elective_is|enrollment|required_ds|required_is|offered_section|semester|offered_term|  term_name|year|
+-------------+--------+------+--------------------+-------+--------------------+-----------+-----------+----------+-----------+-----------+---------------+--------+------------+-----------+----+
|    2021-2022|      28|IST707|Applied Machine L...|      3|General overview ...|          0|          1|        28|          1|          0|           M001|    Fall|        1221|  Fall 2021|2021|
|    2021-2022|      28|IST621|Information Manag...|      3|Information and t...|          0|          0|        28|          0|          1|           M001|  Spring|        1222|Spring 2022|2022|
|    2022-2023|      28|IST718|  Big Data Analytics|      3|A broad introduct...|          0|          0|        28|          1|          0|           M001|  Spring|        1232|Spring 2023|2023|
|    2021-2022|      28|IST718|  Big Data Analytics|      3|A broad introduct...|          0|          0|        28|          1|          0|           M001|  Spring|        1222|Spring 2022|2022|
|    2021-2022|      28|IST722|    Data Warehousing|      3|Introduction to c...|          0|          1|        25|          0|          0|           M001|    Fall|        1221|  Fall 2021|2021|
+-------------+--------+------+--------------------+-------+--------------------+-----------+-----------+----------+-----------+-----------+---------------+--------+------------+-----------+----+
only showing top 5 rows

### Question 9

Similar to question 4, prepare the `enrollments` for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. For this wide table we want to include the same reference data for `sections` but include the `student` attributes and the `program` data associated with the student.

In [38]:
#9 create wide_enrollments
student_program = students.withColumnRenamed("_id","students_student_id").withColumnRenamed("name","student_name")\
                    .join(programs, students.program == programs._id).drop("code","_id")
enrollments_load = student_program.join(enrollments, student_program.students_student_id == enrollments.student_id).drop("student_id")\
                    .withColumnRenamed("course", "enrolled_course").withColumnRenamed("credits","program_credits")

In [39]:
enrollments_cassandra = enrollments_load.join(q8, (enrollments_load.enrolled_course == q8.course)&
                                              (enrollments_load.term == q8.offered_term)&
                                              (enrollments_load.section == q8.offered_section),"inner").withColumnRenamed("name", "program_name").drop("offered_term","offered_section")

In [40]:
enrollments_cassandra.printSchema()

root
 |-- students_student_id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- program: string (nullable = true)
 |-- program_credits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- program_name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- enrolled_course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: long (nullable = true)
 |-- course: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- credits: long (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_ds: long (nullable = true)
 |-- elective_is: long (nullable = true)
 |-- enrollment: long (nullable = true)
 |-- required_ds: long (nullable = true)
 |-- required_is: long (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- year: string (nullable = true)

In [41]:
from cassandra.cluster import Cluster
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication={ 'class': 'SimpleStrategy', 'replication_factor' : 1 };")
    table = '''
    CREATE TABLE IF NOT EXISTS ischooldb.enrollments (
        students_student_id text,
        student_name text,
        program text,
        elective_courses list<text>,
        program_name text,
        required_courses list<text>,
        type text,
        term int,
        course_enrollment int,
        enrolled_course text,
        grade text,
        grade_points double,
        academic_year text,
        capacity int,
        section text,
        course text,
        course_name text,
        credits int,
        description text,
        elective_DS text,
        elective_IS text,
        required_DS text,
        required_IS text,
        semester text,
        year text,
        term_name text,
        enrollment int,
        program_credits int,
    primary key ((students_student_id,course,section,term), program) 
    );
    '''
    session.execute(table)

In [42]:
enrollments_cassandra.write.format("org.apache.spark.sql.cassandra")\
  .mode("Append")\
  .option("table", "enrollments")\
  .option("keyspace","ischooldb")\
  .save()

In [43]:
cassandra_enrollment = spark.read.format("org.apache.spark.sql.cassandra")\
                    .options(table="enrollments", keyspace="ischooldb") \
                    .load()

In [44]:
cassandra_enrollment.show(3)

+-------------------+------+-------+----+-------+-------------+--------+-----------------+--------------------+-------+--------------------+--------------------+-----------+-----------+---------------+----------+-----+------------+---------------+-------------------+--------------------+-----------+-----------+--------+------------------+-----------+-------+----+
|students_student_id|course|section|term|program|academic_year|capacity|course_enrollment|         course_name|credits|         description|    elective_courses|elective_ds|elective_is|enrolled_course|enrollment|grade|grade_points|program_credits|       program_name|    required_courses|required_ds|required_is|semester|      student_name|  term_name|   type|year|
+-------------------+------+-------+----+-------+-------------+--------+-----------------+--------------------+-------+--------------------+--------------------+-----------+-----------+---------------+----------+-----+------------+---------------+-------------------+--------------------+-----------+-----------+--------+------------------+-----------+-------+----+
|  dorisnolongeropen|IST659|   M002|1221|     DS|    2021-2022|      20|               15|Data Administrati...|      3|Definition, devel...|    [IST769, IST714]|          0|          0|         IST659|        20|    C|         2.0|             34|       Data Science|[IST659, IST615, ...|          1|          1|    Fall|Doris Nolongeropen|  Fall 2021|Masters|2021|
|         sherrywyne|IST659|   M001|1222|     DS|    2021-2022|      24|               20|Data Administrati...|      3|Definition, devel...|    [IST769, IST714]|          0|          0|         IST659|        24|   A-|       3.667|             34|       Data Science|[IST659, IST615, ...|          1|          1|  Spring|       Sherry Wyne|Spring 2022|Masters|2022|
|        mikerophone|IST687|   M001|1232|     IS|    2022-2023|      24|                7|Introduction to D...|      3|Introduces inform...|[IST722, IST714, ...|          0|          1|         IST687|        19|    A|         4.0|             36|Information Systems|[IST659, IST615, ...|          1|          0|  Spring|      Mike Rophone|Spring 2023|Masters|2023|
+-------------------+------+-------+----+-------+-------------+--------+-----------------+--------------------+-------+--------------------+--------------------+-----------+-----------+---------------+----------+-----+------------+---------------+-------------------+--------------------+-----------+-----------+--------+------------------+-----------+-------+----+
only showing top 3 rows

### Question 10

Load the data frame you created in question 8 into `elasticsearch`, under the index `enrollments`. This time, just Omit all array types to make the problem simpler (`elective_courses`, `key_assignments`, `course_prerequisites`, etc...)

In [45]:
#10 wide_enrollments to elastic search
q10 = cassandra_enrollment.drop("required_courses","elective_courses")

In [46]:
q10.write.mode("Overwrite").format("es").save("enrollments")

In [47]:
df10 = spark.read.format("es").load("enrollments")
df10.show(3)

+-------------+--------+------+-----------------+--------------------+-------+--------------------+-----------+-----------+---------------+----------+-----+------------+-------+---------------+-------------------+-----------+-----------+-------+--------+------------+-------------------+----+-----------+-------+----+
|academic_year|capacity|course|course_enrollment|         course_name|credits|         description|elective_ds|elective_is|enrolled_course|enrollment|grade|grade_points|program|program_credits|       program_name|required_ds|required_is|section|semester|student_name|students_student_id|term|  term_name|   type|year|
+-------------+--------+------+-----------------+--------------------+-------+--------------------+-----------+-----------+---------------+----------+-----+------------+-------+---------------+-------------------+-----------+-----------+-------+--------+------------+-------------------+----+-----------+-------+----+
|    2022-2023|      24|IST707|                5|Applied Machine L...|      3|General overview ...|          0|          1|         IST707|        24|    A|         4.0|     IS|             36|Information Systems|          1|          0|   M001|    Fall|Lee Hvmeehom|        leehvmeehom|1231|  Fall 2022|Masters|2022|
|    2021-2022|      24|IST621|               18|Information Manag...|      3|Information and t...|          0|          0|         IST621|        22|   A-|       3.667|     IS|             36|Information Systems|          0|          1|   M001|    Fall|Eura Quittin|        euraquittin|1221|  Fall 2021|Masters|2021|
|    2022-2023|      24|IST769|                5|Advanced Big Data...|      3|Analyze relationa...|          1|          0|         IST769|        20|   A-|       3.667|     DS|             34|       Data Science|          0|          0|   M001|  Spring|  Ty Itdowne|          tyitdowne|1232|Spring 2023|Masters|2023|
+-------------+--------+------+-----------------+--------------------+-------+--------------------+-----------+-----------+---------------+----------+-----+------------+-------+---------------+-------------------+-----------+-----------+-------+--------+------------+-------------------+----+-----------+-------+----+
only showing top 3 rows

### Question 11

Write spark to clear the `neo4j` database of all nodes and relationships.

In [48]:
#11 reset neo4j database 
cipher_ql = '''
MATCH (n)
DETACH DELETE n
'''
df = spark.createDataFrame(data = [{'row':1}])
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

### Question 12

Load the `courses` and `program` data into `neo4j` as nodes. Exclude the `requirements`, `electives` and `prerequisites` from the node attributes. Demonstrate the data in `neo4j` by querying back it using one or more Cypher queries. NOTE: the Neo4J `name` attribute is what will display on the node bubbles.

In [49]:
#12a load courses into Neo4j
cipher_ql = '''Create (c:Course {course_name: event.name, code: event.code, course_id: event._id, credits: event.credits, description: event.description,
                    key_assignments:event.key_assignments, prerequisites: event.prerequisites})'''
courses.select("code","_id","credits","description","name","key_assignments","prerequisites")\
    .write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
      .option("url", bolt_url) \
      .option("query",cipher_ql) \
      .save()

In [50]:
#12b load programs into neo4j
cipher_ql = '''CREATE (p:Program {program_name: event.name, code: event.code, program_id: event._id, credits: event.credits, type: event.type, 
                        required_courses: event.required_courses, elective_courses:event.elective_courses})'''
programs.drop("elective_course").write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
      .option("url", bolt_url) \
      .option("query",cipher_ql) \
      .save()

### Question 13

Load the `requirements` and `electives` data into `neo4j` as relationships to the nodes you created in Question 12. Use the `program` data to form the `required` and `elective` course relationships. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [51]:
#13a program course requirements
cipher_ql = '''Match(p:Program),(c:Course)
WHERE Any (course in c.course_id Where course in p.required_courses)
Merge (p)- [r:required] -> (c)
return p, c, r
'''
df = spark.createDataFrame(data = [{'row':1}])
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

In [52]:
#13b program course electives
cipher_ql = '''Match(p:Program),(c:Course)
WHERE Any (course in c.course_id Where course in p.elective_courses)
Merge (p)- [e:elective] -> (c)
return p, c, e
'''
df = spark.createDataFrame(data = [{'row':1}])
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

### Question 14

Load the `prerequisites` into `neo4j` as relationships to the `course` nodes you created in Question 12. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [53]:
#14 course prerequisites 
cipher_ql = '''Match(c1:Course),(c2:Course)
WHERE Any (course in c1.course_id Where course in c2.prerequisites)
Merge (c1) <- [p:prerequisite] -(c2)
return p, c1, c2
'''
df = spark.createDataFrame(data = [{'row':1}])
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

### Question 15

Write a Cypher query to display courses which are required by both the `IS` and `DS` programs.

In [54]:
#15 Cypher query courses required in DS and IS
cipher_ql = ''' 
Match(p1:Program), (c1:Course)
WHERE Any (course in c1.course_id Where course in p1.required_courses) and p1.program_id = "IS" 
Match(p2:Program), (c2:Course)
WHERE Any (course in c2.course_id Where course in p2.required_courses) and p2.program_id = "DS"     
Merge (p1) - [r1:required_is] -> (c1)
Merge (p2) - [r2:required_ds] -> (c2)
return p1, r1, c1, p2,r2,c2
'''
df = spark.createDataFrame(data = [{'row':1}])
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

### Question 16

Write a Cypher query to retrieve the `course code`, `course title`, and the count of programs the course is a requirement in. Write as a Cypher query but retrieve the  output as a Spark Dataframe.

In [56]:
#16 Cypher to spark table
cipher_ql = '''
MATCH (p:Program)-[r:required]->(c:Course)
RETURN c.code, c.course_name, count(p) AS program_count
'''
df = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .load()
df.show(5)

+------+--------------------+-------------+
|c.code|       c.course_name|program_count|
+------+--------------------+-------------+
|IST659|Data Administrati...|            3|
|IST722|    Data Warehousing|            1|
|IST769|Advanced Big Data...|            1|
|IST615|    Cloud Management|            3|
|IST714|  Cloud Architecture|            1|
+------+--------------------+-------------+
only showing top 5 rows

### Questions 17,18,19 and 20

These are not spark questions as they use kibana.